:root{
    --body-bg-color: #D7EFFE;
}


body{
margin: 0;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title{
    margin-left: 20px;
    list-style-type: none;
}

.title:hover{
    border-bottom: var(--body-bg-color) 3px solid;
    transition: all 160ms ease-in-out;
}

a{
    text-decoration: none;
    color: black;
}

.items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}
.items ul>li{
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    padding: 20px;
}
.navbar-item:hover{
    border-bottom: var(--body-bg-color) 3px solid;
    transition: all 160ms ease-in-out;
}

.container{
    padding-left: 30px;
}

.artikel{
    width: 75%; 
    background-color: lightgrey;
    height: 100px;
    margin: 15px;
    
}

.artikel div{
    height: 100%;
}
.image{
    background-color: blue;
    width: auto;
    height: 100%;
}
img{
    width: inherit;
    height: inherit;
}
.artikel-content{
    display: flex;
    justify-content: space-between;
}

.container article{
    width: 45%;
}
article > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}