:root{
    --body-bg-color: #D7EFFE;
}


body{
margin: 0;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-bg-color);
}

.title{
    margin-left: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}
.items ul>li{
    padding-right: 50px;
}

.container{
    padding-left: 30px;
}

.artikel{
    width: 75%;
    height: 100px;
    border: black 2px solid;
    
}

.artikel div{
    
    height: 100%;
}
.image{
    background-color: blue;
    width: 250px;
    height: 100%;
}
.artikel-content{
    display: flex;
    justify-content: space-between;
}