:root{
    --body-bg-color: #D7EFFE;
}

body{
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title{
    margin-left: 20px;
    list-style-type: none;
}

.title:hover{
    border-bottom: var(--body-bg-color) 3px solid;
    transition: all 160ms ease-in-out;
}

a{
    text-decoration: none;
    color: black;
}

.items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}
.items ul>li{
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    padding: 20px;
}
.navbar-item:hover{
    border-bottom: var(--body-bg-color) 3px solid;
    transition: all 160ms ease-in-out;
}

.container{
    padding-left: 15vw !important;
    padding-top: 20px;
    margin-bottom: 500px;
}

.artikel{
    width: 75%; 
    background-color: lightgrey;
    height: 100px;
    margin-bottom: 15px;

    
}

.artikel div{
    height: 100%;
}
.image{
    width: auto;
    height: 100%;
}
img{
    width: inherit;
    height: inherit;
}
.artikel-content{
    display: flex;
    justify-content: space-between;
}

.container article{
    width: 45% !important;
   font-family: "Playfair Display", serif;
    
}
article > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.recommendation{
    border-left: 2px pink solid;
    padding-left: 20px;
    width: 400px;
    margin-left: 10vw;
    height: 80%;
    margin-top: 50px;
}
article > h1 {
    text-align: center;
    font-weight: 600;
}
article > h6{
    text-align: center;
    font-weight: 300;
    
}

.judul-artikel{
    display: grid;
    align-items: center;
}
.judul-artikel p{
    margin: 0 !important;
}